<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>emplist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css"
			href="/static/css1/style.css" />
	</head>
    <script type="text/javascript">
        function check() {
            alert("确定删除？")
        }
    </script>
	<body>
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
					<div id="rightheader">
						<p>
							2009/11/20
							<br />
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="/employee/emplist/">main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Welcome!
					</h1>
					<table class="table">
						<tr class="table_header">
							<td>
								ID
							</td>
							<td>
								Name
							</td>
							<td>
								Salary
							</td>
							<td>
								Age
							</td>
							<td>
								Gender
							</td>
							<td>
								birth
							</td>
							<td>
								Operation
							</td>
						</tr>
                    {% if mana != None %}

                        {% for foo in mana %}
                                <tr class="row2">
                                    <td>{{ foo.e_id }}</td>
                                    <td>{{ foo.name }}</td>
                                    <td>{{ foo.salary }}</td>
                                    <td>{{ foo.age }}</td>
                                    <td>{{ foo.gender }}</td>
                                    <td>{{ foo.birth }}</td>

                                    <td>
                                        <a href="/employee/update_emp?e_id={{ foo.e_id }}">update emp</a>
                                        <a href="/employee/delete_emp?e_id={{ foo.e_id }}" onclick="check()">delete emp</a>
                                    </td>
                                </tr>
                        {% endfor %}

                    {% endif %}
					</table>

					<p>
                        <a href="/employee/add_emp/">
						<input type="button" class="button" value="Add Employee" />
                        </a>
					</p>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
				ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
